<%- contentFor('body') %>

<div id="main" class="alt">
</div>


<section id="contact">
    <div class="inner">
        <section>
            <header class="major">
                <h2>Register</h2>
            </header>

            <form method="post" action="/register" id="registerForm">
                <div class="fields">
                    <div class="field">
                        <label for="email">Name</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" required>
                    </div>
                    <div class="field">
                        <label for="message">Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="field">
                        <label for="message">Confirm Password</label>
                        <input type="password" name="confirm_password" id="confirm_password" required>
                    </div>

                    <div class="field half text-right">
                        <ul class="actions">
                            <li><input type="submit" value="Register" class="primary"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-info"></span>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur. Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-share"></span>
                    <h3>Share</h3>

                    <p style="position: relative;">
                        <a href="#" style="position: relative;" class="icon alt fa-twitter"><span class="label">Twitter</span></a> &nbsp;
                        <a href="#" style="position: relative;" class="icon alt fa-facebook"><span class="label">Facebook</span></a> &nbsp;
                        <a href="#" style="position: relative;" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a> &nbsp;
                        <a href="#" style="position: relative;" class="icon alt fa-behance"><span class="label">Behance</span></a>
                    </p>
                </div>
            </section>
        </section>
    </div>
</section>

<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function() {
        console.log('document-ready');
        $('#registerForm').on('submit', function(e) {

            let password = $('#password').val();
            let confirmPassword = $('#confirm_password').val();
            if (password != confirmPassword) {
                $.toast({
                    text: 'Password does not match.',
                    position: 'bottom-right',
                });
                return false;
            }

            return true;
        });
    })
</script>